<h1>Create new room</h1>

<form action="/rooms/create-room" method="POST">
  <label>
    Name
    <input type="text" name="name" placeholder="room" />
  </label>

  <label>
    description
    <input type="text" name="description" />
  </label>
  
  <label>
    Image
    <input type="text" name="imageUrl" />
  </label>
 
  <label>
    Owner
    <input type="text" name="owner" />
  </label>
  
  <label>
    Reviews
    <input type="text" name="reviews" />
  </label>

  <button type="submit">Save changes</button>
</form>