<h1>Home page🚀</h1>
<p>Welcome Ironhacker!</p>

 <button>
         <a href="/auth/login">Login</a>
      </button>

      <button>
         <a href="/auth/signup">Signup</a>
      </button>

       <button>
         <a href="/">Logout</a>
      </button>

       <button>
         <a href="/rooms/create-room">Create a room</a>
      </button>

       <button>
         <a href="/rooms/room-list">List of rooms</a>
      </button>

     



