<h1>User profile</h1>

<button>
     <a href="/rooms/create-room">Create a room</a>
</button>

<button>
     <a href="/rooms/create-room">Edit a room</a>
</button>

<button>
     <a href="/rooms/create-room">Edit user profile</a>
</button>